/*Propiedades generales*/

*{
    margin:         0;
    padding:        0;
    box-sizing:     border-box;
}

body{
    background-color:   var(--brown9);
}

img{
    max-width:      100%;
}

video{
    max-width:      100%;
}

/*Paleta de colores*/

:root{                                  
    --brown0:   #553d2a;
    --brown1:   #5f4633;
    --brown2:   #69503c;
    --brown3:   #735945;
    --brown4:   #7e634e;
    --brown5:   #907761;
    --brown6:   #ab9680;
    --brown7:   #c7b69f;
    --brown8:   #e3d7bf;
    --brown9:   #fff9e1;

}

/*Fin de la paleta e colores*/

/*Fin de propiedades generales*/


/*Propiedades del logo, titulo y menu*/

.encabezado{
    display:            flex;
    flex-direction:     column;
    position:           sticky;
    top:                0%;
}

.logoContainer{
    display:            flex;
    gap:                10rem;
    align-items:        center;
    justify-items:      right;
    background-color:   var(--brown4);
}


.maintitle{
    font-size:          4rem;
    color:              var(--brown9);
    text-shadow:        black 0 0 10px;
}

.navContainer{
    background-color:   var(--brown6);
    padding:            0.5rem;
    font-size:          0.7rem;
}

.navList{
    display:        flex;
    gap:            2rem;
    padding:        0;
}

.navList li{
    list-style:         none;
}

.navList a{
    text-decoration:    none;
    color:              black;
    font-weight:        600;
    text-transform:     uppercase;
    position:           relative;
}

.navList a:hover{
    color:             green;
}

/*Fin de propidades del logo y menu*/

/*Inicio de propiedades de estilo del contenido principal cajas*/

.mainContent{
    display:            flex;
    gap:                2rem;
}

.content{
    display:            flex;
    flex-direction:     column;
    gap:                0rem;
    width:              70rem;
}

.contentContainer{
    display:            flex;
    width:              auto;
}

.box{
    display:            flex;
    flex-direction:     column;
    gap:                0rem;
}

.boxImagen{
    display:            flex;
    gap:                2rem;
}


/*Fin de propiedades de estilo del contenido principal cajas*/

/*Propiedades del banner*/

.bannerContainer{
    background-image:   url('../img/cafeentrada.jpg');
    background-size:    cover;
    height:             30rem;
    width:              auto;
    background-position:center;
    
}

.bannerText{
    color:              white;
    font-size:          xx-large;
    margin:             0 auto;
    justify-items:      center;
    align-items:        center;
    max-width:          70rem;
    padding:            14rem 0;
    text-shadow:        #FC0 10px 0 10px;
}

/*Fin de propiedades del banner*/

/*Inicio Propiedades de las cajas de contenido*/

.box1Txt{
    justify-self:      center;
    align-items:        center;
    padding:            auto 2rem;
    font-size:          20px;
    font-weight:        800;
    text-align:         center;
    margin:             2rem auto;
}

.imagen{
    width:              auto;
    height:             auto;
}

.box2Txt{
    border: none;
}

/*Inicio de formato al footer*/

.contacto{
    border:             solid;
    background-image:   url(../img/manchasCafe.png);
    background-repeat:  none;
    background-position:center;
    background-size:    cover;
}

.tituloFooter{
    color:      var(--brown0);
    font-size:  2rem;
    text-align: left;
}

.redesSociales a {
    vertical-align: middle;
    text-decoration: none;

}

/*Fin de propiedades al footer*/




